In [1]:
import pandas as pd
import numpy as np
import json

In [30]:
df_csv = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv", index_col = ["date"],
                    parse_dates = True, usecols=["date", "iso_code", "location", "population", "continent",
                                                "total_cases", "total_deaths"]).rename(
    columns = {'iso_code': 'country_code', 'location': 'country_name', 'population': 'population', 
              'continent':'continent', 'total_cases':'confirmed', 'total_deaths': 'deaths'}
)

In [31]:
df = df_csv

In [32]:
df.head()

,country_code,continent,country_name,confirmed,deaths,population
date,,,,,,
2020-03-13,ABW,North America,Aruba,2.0,NaN,106766.0
2020-03-19,ABW,North America,Aruba,NaN,NaN,106766.0
2020-03-20,ABW,North America,Aruba,4.0,NaN,106766.0
2020-03-21,ABW,North America,Aruba,NaN,NaN,106766.0
2020-03-22,ABW,North America,Aruba,NaN,NaN,106766.0