In [1]:
!ls ../data_sources/worldbank_population_data/

API_SP.POP.TOTL_DS2_en_csv_v2_821007.csv
Metadata_Country_API_SP.POP.TOTL_DS2_en_csv_v2_821007.csv
Metadata_Indicator_API_SP.POP.TOTL_DS2_en_csv_v2_821007.csv
README.md
Snakefile
pop.csv
pop_addition.csv
pop_conversion.csv
wb_raw.csv

In [2]:
import pandas as pd

data_f = '../data_sources/worldbank_population_data/wb_raw.csv'

In [6]:
df = pd.read_csv(data_f, usecols=['country_code', 'population', 'region', 'income'])
df.head()

  country_code  population                     region               income
0          ABW    105845.0  Latin America & Caribbean          High income
1          AFG  37172386.0                 South Asia           Low income
2          AGO  30809762.0         Sub-Saharan Africa  Lower middle income
3          ALB   2866376.0      Europe & Central Asia  Upper middle income
4          AND     77006.0      Europe & Central Asia          High income

In [8]:
df.region.value_counts()

Europe & Central Asia         58
Sub-Saharan Africa            48
Latin America & Caribbean     42
East Asia & Pacific           37
Middle East & North Africa    21
South Asia                     8
North America                  3
Name: region, dtype: int64

In [32]:
df = pd.read_csv(data_f, skiprows=4)[['Country Name', 'Country Code', "2018"]].rename(columns={'Country Name': "country", "Country Code": "country_code", "2018": "population"}).drop
df.head()

       country country_code  population
0        Aruba          ABW    105845.0
1  Afghanistan          AFG  37172386.0
2       Angola          AGO  30809762.0
3      Albania          ALB   2866376.0
4      Andorra          AND     77006.0

In [33]:
mdf = pd.read_csv(metadata_f)[['Country Code', 'Region', 'IncomeGroup']].rename(columns={"Country Code": "country_code", "Region": "region", "IncomeGroup": "income"})
mdf.head()

  country_code                     region               income
0          ABW  Latin America & Caribbean          High income
1          AFG                 South Asia           Low income
2          AGO         Sub-Saharan Africa  Lower middle income
3          ALB      Europe & Central Asia  Upper middle income
4          AND      Europe & Central Asia          High income

In [36]:
df.merge(mdf, on="country_code", how="left").to_csv('pop.csv', index=False)