In [1]:
import pandas as pd

In [18]:
df = pd.read_csv('../tableau_ts.csv').drop(columns=["Lat", "Long", "Difference", "Last_Update_Date"]).rename(columns={"Province/State": "state", "Country/Region": "country", "Date": "date"})

In [19]:
df.head()

       country state  Case_Type        date  Cases
0  Afghanistan   NaN  Confirmed  2020-01-22      0
1  Afghanistan   NaN  Confirmed  2020-01-23      0
2  Afghanistan   NaN  Confirmed  2020-01-24      0
3  Afghanistan   NaN  Confirmed  2020-01-25      0
4  Afghanistan   NaN  Confirmed  2020-01-26      0

In [47]:
for g in df.groupby("country"):
    if g[0] == 'China':
        print(g[0])
        x = g[1].groupby(['Case_Type', "date"]).sum().reset_index()

China

In [48]:
x[x.Case_Type=='Confirmed']

Empty DataFrame
Columns: [Case_Type, date, Cases]
Index: []