In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../owid_ts.csv')
df.head()

         date     location  new_cases  new_deaths  total_cases  total_deaths
0  2020-02-25  Afghanistan        NaN         NaN            1           NaN
1  2020-02-26  Afghanistan        0.0         NaN            1           NaN
2  2020-02-27  Afghanistan        0.0         NaN            1           NaN
3  2020-02-28  Afghanistan        0.0         NaN            1           NaN
4  2020-02-29  Afghanistan        0.0         NaN            1           NaN